<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\lightkiller.com\tmp" />
    <!-- Keep remote errors generic; do not redirect application errors to the homepage. -->
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
