<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>




  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\lightkiller.com\tmp" />
    <customErrors mode="RemoteOnly" defaultRedirect="index.html"/>
  </system.web>
</configuration>