.t12logo {  font-size: 12px; line-height: 140%; color: #666666}
.t10 {  font-size: 10px; line-height: 130%; color: #666666}
.t12top {  font-size: 12px; line-height: 140%; color: #000000}

/**body{
background-color:#090000;
background-image:url(../img/bg.gif);
background-repeat:repeat-x;
}**/