.web_text {  font-size: 9pt; line-height: 16pt}
.web_text2 {  font-size: 10pt; line-height: 18pt}
.web_text3 {  font-size: 12pt; line-height: 18pt}
.web_text4 {  font-size: 9pt; line-height: 12pt}
.web_text5 {  font-size: 12pt; line-height: 22pt}
.web_text6 {  font-size: 10pt; line-height: 18pt ; letter-spacing:1pt}
.archive_text { font-size: 12pt; line-height: 18pt; }
.archive_text2 { font-size: 10pt; line-height: 16pt; }
.archive_text3 { font-size: 9pt; line-height: 16pt; }
.archive_text4 { font-size: 9pt; line-height: 14pt; }
.bar_text {  font-size: 9pt; line-height: 16pt}
.bar_text4 {  font-size: 9pt; line-height: 12pt}

a.web_a:hover {color: 39638c;text-decoration: underline }
a.web_a:link {color: #0c3fa3;text-decoration: underline}
a.web_a:active {color: #001fbb;text-decoration: underline}
a.web_a:visited {color: #001fbb;text-decoration: underline}

a.archive_a:visited {color: #0047ae;font-size: 9pt; line-height: 16pt;text-decoration: underline}
a.archive_a:link { color: #0047ae;font-size: 9pt;text-decoration: underline}
a.archive_a:hover {color: #ff7e00;font-size: 9pt;text-decoration: underline}
